/* Your Awesome Website */

body {
	background: #333333;
}

.panel {
	height: 300px;
	background: lightgrey;
}

.button {
	background: #961a1d;
	color: white;
}


.button:hover {
	background: #7d0c1e;
}

